/*Main Style for all pages*/

/* Header Styles */
header{
	display: block;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #1E212D;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home{
 	float: left;
}
.nav{
	float: right;
}
li{
	display: block;
	border: 2px solid #FAF3E0;
}
li a {
	margin: 20px;
  padding: 20px;
}
 
 a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FAF3E0;
 }

 a:hover{

 }

 a:focus{

 }

 a:active{

 }

 /*Body*/
body {
 	margin:0px;
 	background-color: #FAF3E0;
 }

#div_intro{
  position: relative;
  overflow: auto;
}

#div_intro_text{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 2%;
}

 h1{
  display: inline-block;

 }

.wrapper {
	margin-right: auto; /* 1 */
	margin-left: auto; /* 1 */
	max-width:1160px; /* 2 */
	padding-right: 10px; /* 3 */
	padding-left: 10px; /* 3 */
	display: block;
}

#circle_profile_picture {
  display: inline-block;
  max-width: 350px;
  max-height: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid #1E212D;
}
/*#circle_profile_picture_outline{
  background-color: #1E212D;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 360px;
  max-height: 360px;
  width: 100%;
  height: 100%;
}*/


/*Footer*/
footer{

  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1E212D;
  color: white;
  text-align: center;
}

