
#bg-deep{
	background-image: url('../media/intro-sea-banner.jpg');/*no-repeat center center fixed; */
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
	background-repeat: no-repeat;
	/* background-position: center; */
	background-attachment: fixed;

	
}

#page{
	max-width: 1000px;
}

#page-padding{
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

#body-card{
	/* fallback for old browsers */
    background: #f8b755;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(248,183,85,0.5), rgba(198,209,213,0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(248,183,85,0.5), rgba(198,209,213,0.5));
	padding: 1%;
}

.intro{
	
	min-height: 800px;
	max-width: 1920px;
	align-self: center;
	margin: auto;
}


#profilePic{
	margin-top: 3em;
 	max-width: 22%;
	/* border: 2px solid black; */
}

#skills
{
	margin:auto;
	padding-top:3em;
}


.form-group{
	padding-bottom: 1.5%;
  }

#introTextDiv{
	padding-top:3em;

	
}
.pageSection{
	width: 50%;
	height: auto;
    position: absolute;
	z-index: 9;
}
.pageSectionOrange{
	margin: -2%;
	color: #f8b755;
	background-color: #f8b755;
}
.pageSectionHeader{
	position: relative;
	width: 50%;
	height: fit-content;
	margin: 30px;
	border: 2px solid black;
	left: 50%;
	transform: translateX(-50%);
}
#footer{
	width:100%;
	min-width:100%;
	min-height: 50px;
	background-color: #C6D1D5;

	padding-bottom: 10px;
}


.externalLinks{
	max-width: 50px;
	max-height: 50px;
	box-shadow: 0.1em 0.1em 0.1em black;
	background-color: #f8b755;
}

/* Nav Bar */
nav ul {
	padding: 0;
  }
  
  nav li {
	list-style: none;
  }
  
  nav ul li a {
	text-decoration: none;
	color: #333;
	display: block;
	padding: 0.6rem 0.3rem;
	font-weight: 400;
	transition: all ease-out 250ms;
  }

  nav ul li a:hover {
	text-decoration: none;
	color: #f8b755;
  }

  .active {
	color: #f8b755; 
	font-weight: 600;
  }

  .side-bar {
	width: 160px;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }


html{
	scroll-behavior: smooth;
}

section{
	
	height: 100vh;
	margin:0;
	padding:2.5rem 4rem;
}

section:first-of-type {
	
  }
  
  section:nth-of-type(2n) {
	height: fit-content;
	background-color: #f2f2f2
  }
  
  section:nth-of-type(3n) {
	background-color: #C6D1D5;
	height:fit-content;
  }

  section:last-of-type {
	height: fit-content;
  }



  /* Image comparison slider */
  .slider-wrapper{
	max-width: 400px;
	min-height: 300px;
	display: block;
	position: relative;
	overflow:hidden;
	margin:auto;
  }
  
  /* Our image information */
  .slider-before,
  .slider-after {
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-color: white;
	background-size: cover;
	background-position: center;
	position: absolute;
	top:0;
	left:0;
	pointer-events:none;
	overflow: hidden;
  }
  
  .content-image{
	height:100%;
  }
  
  .after{
	width:125px;
  }
  
  .scroller{
	width: 50px;
	height:50px;
	position: absolute;
	left:100px;
	top:50%;
	transform:translateY(-50%);
	border-radius:50%;
	background-color: transparent;
	opacity:0.9;
	pointer-events:auto;
	cursor: pointer;
  }
  
  .scroller:hover{
	opacity:1;
  }
  
  .scrolling{
	pointer-events:none;
	opacity:1;
	z-index: 1;
  }
  
  .scroller__thumb{
	width:100%;
	height:100%;
	padding:5px;
  }
  
  .scroller:before,
  .scroller:after{
	content:" ";
	display: block;
	width: 7px;
	height: 9999px;
	position: absolute;
	left: 50%;
	margin-left: -3.5px;
	z-index: 30;
	transition:0.1s;
  }
  .scroller:before{
	top:100%;
  }
  .scroller:after{
	bottom:100%;
  }
  
  .scroller{
	border: 5px solid #f8b755;
  }
  .scroller:before,
  .scroller:after{
	background: #fff;
  }

  #page{

  }

